  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <a href="/admin">
          <img src="../../admin/dist/img/lotrinh-AxA.png" width="100%" style="display: block;margin-left: auto; margin-right: auto;">
        </a>

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Dữ liệu cơ sở -->
          <li class="nav-item">
            <a href="/admin/locationmanager" class="nav-link">
              <i class="nav-icon fas fa-map-marker-alt"></i>
              <p>
                Dữ liệu điểm
              </p>
            </a>
          </li>
          <!-- Dữ liệu khách hàng -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Quản lý khách hàng
              </p>
            </a>
          </li>         
           <!-- Dữ liệu đối tác -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                Quản lý đối tác
              </p>
            </a>
          </li>
        </ul>
        
        
      </nav>
      
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>