  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <a href="/admin">
          <img src="/admin/dist/img/lotrinh-AxA.png" width="100%" style="display: block;margin-left: auto; margin-right: auto;">
        </a>

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                Bảng điều khiển
              </p>
            </a>
          </li>         
          <li class="nav-item">
            <a href="/partner/routers/" class="nav-link">
              <i class="nav-icon fas fa-road"></i>
              <p>
                Tuyến đường vận tải
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/partner/location" class="nav-link">
              <i class="nav-icon fas fa-map-marker-alt"></i>
              <p>
                Địa điểm đón trả
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/partner/timetables" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Lịch trình chạy
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-bus-alt"></i>
              <p>
                Phương tiện
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Nhân sự
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Thông tin nhà cung cấp
              </p>
            </a>
          </li>
        </ul>
        
        
      </nav>
      
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>