<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 5.3.2022
    </div>
    <strong>Copyright &copy; 2011-2022 <a href="https://satime.net">SATIME SOFTWARE JSC</a>.</strong> All rights reserved.
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PTSDRH26T1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PTSDRH26T1');
</script>
  </footer>
