<!-- Tuyến đường phù hợp -->
<div class="row">
  <div class="info-box bg-light">
    <div class="info-box-content">
      <!-- Tuyến đường -->
      <div class="row">
        <div class="col-md-2 d-none d-sm-block d-md-block">
          <span class="info-box-icon align-middle"><i class="nav-icon fas fa-bus-alt"></i></span>
        </div>
        <div class="col-md-10">
          <a href="#">
            <h3 class="widget-user-username">Thanh Hóa - Đà Nẵng</h3>
          </a>

          <a href="#">
            <h6 class="widget-user-username"><i class="far fa-flag"></i> BUS SATIME</h6>
          </a>
              <a href="#" class="link-black text-sm mr-2">
                <i class="fas fa-eye"></i> 5000
              </a>
              <span class="float-right">
                <a href="#" class="link-black text-sm mr-2">
                  <i class="fas fa-heart"></i> 50
                </a>
              </span>
            <span class="float-right">
              <a href="#" class="link-black text-sm mr-2">
                <i class="far fa-comments mr-1"></i> 5
              </a>
            </span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-bar bg-green" style="width: 100%"></div>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Nơi đi -->
          <span class="info-box-text text-wrap"><i class="nav-icon fas fa-play-circle"></i> Test 001, Giải Phóng, Thị
            trấn Phó Bảng, Huyện Đồng Văn, Hà Giang</span>
        </div>
        <div class="col-md-6">
          <!-- Nơi đến -->
          <span class="info-box-text text-wrap"><i class="nav-icon fas fa-stop-circle"></i> Test 001, Giải Phóng, Thị
            trấn Phó Bảng, Huyện Đồng Văn, Hà Giang</span>
        </div>
      </div>
      <!-- Lộ trình -->
      <div class="row">
        <div class="col-md-6">
          <span class="info-box-text">
            <i class="nav-icon fas fa-map-marker-alt"></i> Đi qua: 14 địa điểm
          </span>
        </div>
        <div class="col-md-6">
          <span class="info-box-text">
            <i class="nav-icon fas fa-calendar-alt"></i> Chuyến: 14 chuyến/ngày
          </span>
        </div>
      </div>
      <!-- Thời gian -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-wrap">
          <thead>
            <tr>
              <th>Chuyến số</th>
              <th>Mã chuyến</th>
              <th>Thời gian đi</th>
              <th>Ngày đi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>183</td>
              <td>John Doe</td>
              <td>11-7-2014</td>
              <td><span class="tag tag-success">Approved</span></td>
            </tr>
            <tr>
              <td>219</td>
              <td>Alexander Pierce</td>
              <td>11-7-2014</td>
              <td><span class="tag tag-warning">Pending</span></td>
            </tr>
            <tr>
              <td>657</td>
              <td>Bob Doe</td>
              <td>11-7-2014</td>
              <td><span class="tag tag-primary">Approved</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Xem thêm -->


    </div>
  </div>

</div>