<footer class="row">
  <div class="col sm-8">
    <strong class="text-left">Copyright &copy; 2011-2022 <a href="https://satime.net">SATIME SOFTWARE JSC</a>.</strong> All rights reserved.
  </div>
  <div class="col sm-4 text-right">
      <b>Version</b> 5.3.2022
  </div>
  
  </footer>
