<div class="info-box bg-light">
  <div class="info-box-content" style="padding-right: 2px;">
      <ul class="nav nav-pills nav-sidebar flex-column">
        
        <% for( let index = 0; index < data.cactinh.length; index++ ) { %>
          <li class="nav-item">
            <a href="/tim-kiem/?loai=<%- data.loai %>&tinh=<%- data.cactinh[index].name_slug %>" class="nav-link">
              <span class="badge badge-white left"><%- data.cactinh[index].no %></span>
               <%- data.cactinh[index].name %>
               <i class="fas fa-chevron-right right"></i>
            </a>
            
          </li>
        <% } %>
      </ul>
    
  </div>
</div>