<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PARTNER | Đăng ký</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
        <img src="../../admin/dist/img/LOGO_black-Whiter.gif" alt="satime software jsc" height="50px" style="align-items: center;">
        <a href="https://satime.net"><p class="login-box-msg" style="margin-top: 5px;">Wellcome Satime Software Jsc !</p></a>
    </div>
    <div class="card-body">
        <p class="login-box-msg"><%- hi %></p>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" id="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Họ và tên" id="name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user-tag"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Nhập password lần 1" id="pass1">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Nhập password lần 2" id="pass2">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-8">
              <button type="submit" class="btn btn-primary btn-block" id="reg">Đăng ký</button>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <a href="/partner/dang-nhap">
                <button class="btn btn-secondary" id="login">Đăngnhập</button>
              </a>
              
            </div>
            <!-- /.col -->
          </div>
      <!-- /.social-auth-links -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../admin/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#reg').click(function(){
            //alert('ok')
            console.log($('#pass1').val(),$('#pass2').val())
            if ($('#email').val()==''||$('#name').val()==''||$('#pass1').val()==''||$('#pass2').val()==''){
                alert("Vui lòng nhập đầy đủ thông tin")
            } else if ($('#pass1').val()!==$('#pass2').val()){
                alert("Mật khẩu 1 và mật khẩu 2 không giống nhau")
            } 
            else{
                $.ajax({
                url:'/partner/dang-ky',
                type:'POST',
                dataType:'json',
                data:{
                    email: $('#email').val().toLowerCase(),
                    hoten: $('#name').val(),
                    pass: $('#pass1').val()
                },
                success:function(res){
                  //xử lý res.redirect không hoạt động khi post = ajax
                  if(res.mes) {
                    alert(res.mes)
                  } else if(res.ok){
                    //console.log(res)
                    alert(res.ok)
                    window.location.href="/partner/"
                  }
                }
                })
            }
            
        })
    })
</script>
<!-- Bootstrap 4 -->
<script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../admin/dist/js/adminlte.min.js"></script>
</body>
</html>
