<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PARTNER | Đăng nhập</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page" style="background: url('/images/chonloc/phu-quoc.jpg') no-repeat center center fixed;
                                                -webkit-background-size: cover;
                                                -moz-background-size: cover;
                                                background-size: cover;
                                                -o-background-size: cover;">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
        <img src="../../admin/dist/img/LOGO_black-Whiter.gif" alt="satime software jsc" height="50px" style="align-items: center;">
        <a href="https://satime.net"><p class="login-box-msg" style="margin-top: 5px;">Wellcome Satime Software Jsc !</p></a>
    </div>
    <div class="card-body">
        <p class="text-center mb-0">Vui lòng đăng nhập để sử dụng LOTRINH.VN</p>
        <p class="login-box-msg mt-2">Chúc quý khách nhiều thành công !</p>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" id="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="pass">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <!-- <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div> -->
          <!-- /.col -->
        <button type="submit" class="btn btn-primary btn-block" id="login">Sign In</button>
          <!-- /.col -->
        </div>
      <!-- /.social-auth-links -->
      <div class="row">
        <div class="col-8">
          <p class="mb-1">
            <a href="#">Quên mật khẩu?</a>
          </p>
        </div>
        <div class="col-4">
          <p style="text-align: right;">
            <a href="/partner/dang-ky">Đăng ký</a>
          </p>
        </div>
      </div>
      

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../admin/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      function login (){
        //alert('ok')
        if($('#email').val()==''||$('#pass').val()==''){
                alert("Vui lòng nhập đầy đủ thông tin")
            } else{
                $.ajax({
                url:'/partner/dang-nhap',
                type:'POST',
                dataType:'json',
                data:{
                    email: $('#email').val().toLowerCase(),
                    pass: $('#pass').val()
                },
                success:function(res){
                  if(res.mes) {
                    alert(res.mes)
                  } else if(res.ok) {
                    window.location.href="/partner/"
                  }
                }
            })
            }
      }
        $('#login').click(function(){
          login ()
            
        })
        $(document).on('keypress',function(e) {
          if(e.which == 13) {
            login ()
          }
        });
    })
</script>
<!-- Bootstrap 4 -->
<script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../admin/dist/js/adminlte.min.js"></script>
</body>
</html>
